<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
       default-lazy-init="true">

    <description>Spring公共配置</description>
    <import resource="spring-context.xml"/>
    <import resource="spring-schedule.xml"/>
    <!--<import resource="spring-item-datasource.xml"/>

    <beans profile="development">
        <context:property-placeholder
                ignore-resource-not-found="false"
                location="classpath*:/config/application.development.properties"/>
        <import resource="spring-datasource-development.xml"/>
    </beans>-->
</beans>
	